$txt-headers: h1, h2, h3, h4, h5, h6;
$txt-current: p, ul, ol, dl;
$txt-all: p, ul, ol, dl, table, h1, h2, h3, h4, h5, h6;
$str-all: div, header, section, footer, main, aside, article;

/*
$str-primary: 
$str-secondary:
$str-tertiary:
$str-quaternary:
*/